/* Webfonts */
@import '_fonts.css';

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';


/* Simple defaults */
body {
  @apply font-sans antialiased text-black bg-white tracking-tighter selection:bg-black selection:text-white;
}

.bg-dark {
  @apply selection:bg-black selection:text-[#D2FC00]
}

html {
  scroll-behavior: initial;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}